:root {
  box-sizing: border-box;
  font-size: 62.5%;
  margin: 0;
  padding: 0;
}

.game-container {
  display: flex;
  flex-flow: column nowrap;
  height: 80vh;
  margin: auto;
}

.component-container {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  height: 100vh;
  justify-content: flex-start;
  text-align: center;
}

.title {
  color: #790f0f;
  font-family: 'Just Me Again Down Here', cursive;
  font-size: 4rem;
}

.icon {
  font-size: 15rem;
  margin: 2rem 0;
}

.description {
  color: white;
  font-family: 'Inter', sans-serif;
  font-size: 1.6rem;
}

.homepage {
  align-self: center;
  justify-content: center;
  margin-top: 5rem;
  margin-top: 5rem;
  max-width: 7.5rem;
}

.homepage .icon {
  font-size: 20rem;
  margin: 5rem 0;
}

.scene,
.crime,
.character,
.instructions {
  align-self: center;
  max-width: 50rem;
}

.scene .description {
  margin: 2rem 0;
}

.crime .description {
  margin: 2rem 0;
}

.character .description {
  margin: 2rem 0;
}

.button {
  background-color: #bf5050;
  border: none;
  border-radius: 2.5rem;
  color: white;
  cursor: pointer;
  font-size: 2rem;
  margin-top: 2.5rem;
  padding: 1rem 2.5rem;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.steps-container {
  color: white;
  font-family: Inter;
  font-size: 1.8rem;
  margin: 2rem 4rem;
}

.step {
  margin: 2rem;
}

@media only screen and (max-width: 900px) and (orientation: landscape) {
  .game-container {
    height: 100vh;
    width: 100vw;
  }
}

@media only screen and (min-width: 1025px) {
  .homepage {
    margin-top: 15rem;
  }
  .component-container {
    padding-top: 7.5rem;
  }
}
